<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>FicheroLogin</param-name>
        <param-value>/Recursos/fichero.txt</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>NombreJuego</param-name>
        <param-value>Ahorcadito</param-value>
    </context-param>
    <servlet>
        <servlet-name>Juego</servlet-name>
        <servlet-class>Partida.Juego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Servlet.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
        <init-param>
            <param-name>FicheroLogin</param-name>
            <param-value>/Recursos/fichero.txt</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>BBDD</servlet-name>
        <servlet-class>BaseDatos.BBDD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginBBDD</servlet-name>
        <servlet-class>BaseDatos.LoginBBDD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>Servlet.Inicio</servlet-class>
        <init-param>
            <param-name>Fondo</param-name>
            <param-value>file.png</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>Servlet.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImprimirTablero</servlet-name>
        <servlet-class>Servlet.ImprimirTablero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserBBDD</servlet-name>
        <servlet-class>BaseDatos.CreateUserBBDD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Juego</servlet-name>
        <url-pattern>/Ahorcado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BBDD</servlet-name>
        <url-pattern>/BBDD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginBBDD</servlet-name>
        <url-pattern>/LoginBBDD</url-pattern>
        
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImprimirTablero</servlet-name>
        <url-pattern>/ImprimirTablero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserBBDD</servlet-name>
        <url-pattern>/CreateUserBBDD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/Errores/Error404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/Errores/Error500.html</location>
    </error-page>
    <listener>
        <listener-class>
            Listener.Listener
        </listener-class>
    </listener>
</web-app>
