<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>FicheroLogin</param-name>
        <param-value>/Recursos/fichero.txt</param-value>
    </context-param>
    <servlet>
        <servlet-name>Juego</servlet-name>
        <servlet-class>Objetos.Juego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Objetos.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Objetos.Login</servlet-class>
        <init-param>
            <param-name>FicheroLogin</param-name>
            <param-value>/Recursos/fichero.txt</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>BBDD</servlet-name>
        <servlet-class>Objetos.BBDD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginBBDD</servlet-name>
        <servlet-class>Objetos.LoginBBDD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>Objetos.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>Objetos.Usuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Juego</servlet-name>
        <url-pattern>/Ahorcado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BBDD</servlet-name>
        <url-pattern>/BBDD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginBBDD</servlet-name>
        <url-pattern>/LoginBBDD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
