.button1 {border-radius: 50%;
          color: white;}
.button2 {border-radius: 50%;}

#imagen{
    margin-left: 10;
    width: 500px; 
    height: 500px;
    margin-left:-90px;
    margin-top:0px;
}
#imagen2{
    width: 700px; 
    height: 500px;
    position:fixed;
    left:50%;
    top:50%;
    margin-left:-350px;
    margin-top:-250px;

}
#capa { position:absolute;
        margin-left:-300px;
        margin-top:-250px;
        top:50%;
        left:50%;
        width: 500px;
        height: 450px;
        background-color:white;
        color: black;
        font-family: 'HVD Bodedo';
        font-size: 12pt;
        border-style: groove;
        border-color: black;
        border-width: 20px;
        background-color: #f2f2f2;

}
#palabra {text-align:center;}
h1 {text-align:center;} 	
.titulosPA{
    font-family: 'Belwe Cn BT';
    src: url('./Fuentes/aa733f8c.ttf'); 
    font-style: normal;
    font-weight: normal;
    font-size: 20pt;
    color: darkgreen;
    margin-left: 40px;
    text-align:center;
}
.titulosEtiqueta{
    position:relativa;
    font-family: 'Belwe Cn BT';
    src: url('./Fuentes/aa733f8c.ttf'); 
    font-style: normal;
    font-weight: normal;
    font-size: 20pt;
    color: darkgreen;

}

.parrafo {
    margin-left:20px;
    margin-right:20px;
}

html{ 
    background: url(../Imagenes/fondo.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/*---###########################################################################################################---*/
/*------------------------------------------------Movimiento URL -------------------------------------------------*/
/*---###########################################################################################################---*/

ul.svertical{
    /*float: right;*/
    width: 230px; /* ancho del men� */
    overflow: auto;
    background: white; /* color del fondo del men� (puedes dejar transparent)*/
    margin: 0;
    padding: 0;
    padding-top: 7px; 
    list-style-type: none;
    margin-left:370px;
    margin-top:-350px;
}

ul.svertical li{
    text-align: left; /* Alineaci�n de los botones right, center, o left */
}

ul.svertical li a{
    position: relative;
    display: inline-block;
    text-indent: 5px; /* Ancho del bot�n. Como una Sangr�a */
    overflow: hidden;
    background: rgb(0, 183, 198); /* Color RGB primario de los botones */
    font: bold 16px Germand; /* Fuente y tama�o, sin negrilla quitar bold */
    text-decoration: none;
    padding: 5px; /* Altura del bot�n */
    margin-bottom: 1px; /* Espacio entre los botones, puede ser un valor negativo */
    color: black; /* Color sin efecto (mouse/rat�n) del texto en el bot�n */
    -moz-box-shadow: inset -7px 0 5px rgba(114,114,114, 0.8); /* Color de la sombra de la derecha */
    -webkit-box-shadow: inset -7px 0 5px rgba(114,114,114, 0.8);
    box-shadow: inset -7px 0 5px rgba(114,114,114, 0.8);
    -moz-transition: all 0.2s ease-in-out; 
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

ul.svertical li a:hover{
    padding-right: 30px; /* Medida que abarca el movimiento del bot�n */
    color: black; /* Color con efecto (mouse/rat�n) del texto en el bot�n */
    background: rgb(153,249,75); /* Color que toma el bot�n con mouse/rat�n */
    -moz-box-shadow: inset -3px 0 2px rgba(114,114,114, 0.8); /* Color de la sombra de la derecha con mouse/rat�n */
    -webkit-box-shadow: inset -3px 0 5px rgba(114,114,114, 0.8);
    box-shadow: inset -3px 0 5px rgba(114,114,114, 0.8);
}

ul.svertical li a:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-style: solid; 
    border-width: 0 0 0 0;
    border-color: transparent transparent transparent white; /* Cambia el �ltimo valor para definir el color del tri�ngulo */

}
}